.list-container {
    display: flex;
    flex-direction: column;
    height:637px;
    background-color: #B6E745;
    border-top: 1px solid white;
    font-family:  'Times New Roman', Times, serif;
    justify-content: left;
    align-content: left;
    gap:40%;
    width: 12%;
    color:#fff;
}

.items{
    font-size: 1.1em;
    margin: 40px auto;
    display: flex;
    flex-direction: column;   
    list-style: none; 
    height:50%;
    width:100%;
    gap:20px;
    text-align: left;
}

.items li {
    margin-left: -10%;
    display: flex;
    gap:8px;
    cursor: pointer;
}

.items li:hover {
    font-variant: small-caps;
}

.items li img {
    width:20px;
    height:20px;
    cursor: pointer;
}

.social {
    height:10%;
    align-content: flex-end;
    justify-content: center;
    display: flex;
    gap: 30px;
    margin-bottom: 5%;
}

.social img {
    width:30px;
    height:30px;
    align-self: flex-end;
}


#aboutusModalBtn {
    width: 200px;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
}

#policyModalBtn {
    width: 200px;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
}

.modal-main-container {
    display: flex;
    flex-direction: column;   
    gap: 50px;
}

.second-modal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap:20px;
    height: 200px;
}

.states{
    display: flex;
    gap:140px;
    font-size: 0.8em;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}


.modal-header  img {
    width: 30px;
    height:30px;
    align-self: center;

}

#aboutusModalText {
    margin-top:5%;
}

#policyModalText{
    margin-top: 5%;
}

.modal-header h3 {
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.addTaskForm {
    width: 80%;
    display: flex;
    flex-direction: column;
    
}

#todoTask{
    margin-left:1%;
}


#progressTask {
    margin-left: 6%;
}
#performedTask {
    margin-left: 2%;
}

#closeAddTaskButton {
    width: 200px;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
}

#addTaskButton {
    width: 200px;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
}

#error {
    color: white;
    width: 100%;
    height: 30%;
    background-color: red ;

}

#success {
    color: #fff;
    width: 100%;
    height: 30%;
    background-color: #31B925;

}

.slide {
    display: flex;
    gap:20px;
}

#textarea {
    resize: none;
}

@media screen and (max-width:960px){
    .itemText {
        visibility: hidden;
    }

    .items li {
        display: flex;
        flex-direction: column;
    }
    .list-container{
        width:15%;
        gap:20%;
    }

    .social {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .social img {
        align-self: center;
    }
}